#ts-arrow01{
    margin-top: -100px;
    margin-bottom: 10px;
    width: 10px;
    margin-left: -35%;
    z-index: -10;
}
#ts-arrow02{
    margin-top: -100px;
    margin-bottom: 10px;
    width: 10px;
    margin-left: -28%;
    z-index: -10;
}
#ts-arrow03{
    margin-top: -100px;
    width: 10px;
    margin-left: -28%;
    z-index: -10;
}
#ts-arrow04{
    margin-top: -100px;
    width: 10px;
    margin-left: -35%;
    z-index: -10;
}
#ts-arrow05{
    margin-top: -100px;
    width: 10px;
    margin-left: -28%;
    z-index: -10;
}
#ts-arrow06{
    margin-top: -100px;
    margin-bottom: 10px;
    width: 10px;
    margin-left: 0%;
    z-index: -10;
}
.ts-grid01 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "ts01 .   "
        "ts01 ts03"
        "ts02 .   "
        "ts02 ts04"
}
.ts-intro01 {
    grid-area: ts01;
}
.ts-intro03 {
    grid-area: ts02;
}
.ts-intro02 {
    grid-area: ts03;
    margin-left: 2vw;
}
.ts-intro04 {
    grid-area: ts04;
    margin-left: 2vw;
}
.ts-grid02 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "ts05 ts05 ts05 ts05 ts05"
        "ts06 ts06 ts06 ts07 ts07"
}
.ts-research01 {
    grid-area: ts05;
}
.ts-research02 {
    grid-area: ts06;
}
.ts-research03 {
    grid-area: ts07;
    align-self: flex-end;
    margin-left: 2vw;
}
.ts-grid03 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
        ".    .    ts10 ts10 ts10 ts10 ts10 ts10 ts10 ts10"
        ".    ts08 ts08 ts08 ts08 ts08 ts08 ts08 ts08 .   "
        "ts09 ts09 ts09 ts09 ts09 ts09 ts11 ts11 ts11 ts11"
}
.ts-ideation01 {
    grid-area: ts08;
}
.ts-ideation02 {
    grid-area: ts09;
}
.ts-ideation03 {
    grid-area: ts10;
}
.ts-ideation04 {
    grid-area: ts11;
    align-self: flex-end;
    margin-left: 2vw;
}
.ts-grid04 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "ts12 .   "
        "ts12 ts13"
        "ts12 .   "
        "ts12 ts14"
}
.ts-process01 {
    grid-area: ts12;
}
.ts-process02 {
    grid-area: ts13;
}
.ts-process03 {
    grid-area: ts14;
    align-self: flex-end;
    margin-left: 2vw;
}
.ts-grid05 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "ts15 ts15 ts15 .    .   "
        "ts15 ts15 ts15 ts16 ts16"
}
.ts-result01 {
    grid-area: ts15;
}
.ts-result02 {
    grid-area: ts16;
    align-self: flex-end;
    margin-left: 2vw;
}
.ts-back {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1em;
    font-weight: 900;
    color: #A11515;
    letter-spacing: 0.2em;
    margin-bottom: 20px;
}
@media (max-width:800px) {
    .ts-grid01 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "ts03"
            "ts01 "
            "ts04"
            "ts02"
    }
    .ts-grid02 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "ts07"
            "ts05"
            "ts06"
    }
    .ts-grid03 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "ts11"
            "ts09"
            "ts10"
            "ts08"
    }
    .ts-grid03 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "ts11"
            "ts09"
            "ts10"
            "ts08"
    }
    .ts-grid04 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "ts14"
            "ts12"
            "ts13"
    }
    .ts-grid05 {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "ts16"
            "ts15"
    }
    #ts-arrow01, #ts-arrow02, #ts-arrow03, #ts-arrow04, #ts-arrow05, #ts-arrow06 {
        margin-left: -75%;
    }
    .ts-back {
        align-self: flex-start;
        margin-left: 10px;
    }
}